@use '../base';
@use '../util';

.gifts {
    height: 600px;
    width: 90%;
    background-color: base.$list;
    text-align: center;
    margin: 20px 0 20px 0;
}

.gifts__button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.gifts__title {
    margin-top: 10px;
    margin-bottom: 10px;

    @include util.breakpoint-max(mobile-medium) {
        font-size: 1.5em;
    }
}

.gifts__total {
    margin: 10px 0 10px 0;

    @include util.breakpoint-max(mobile-medium) {
        font-size: .75em;
    }
}

.gifts__listToPrint {
    display: none;
}

.gifts button {
    @include util.breakpoint-max(mobile-medium){
        width: 50px;
    }

    @include util.breakpoint(mobile-medium-plus1, large) {
        width: 80px;
    }
}

.button i, .disabled i {
    @include util.breakpoint(mobile-large-plus1, xlarge){
        display: none;
    }
}

.button h4, .disabled h4 {
    @include util.breakpoint-max(mobile-large) {
        display: none;
    }
}