@use '../base';
@use '../util';

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: base.$modal-background;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__content {
    width:  40%;
    height: 90%;
    background-color: base.$list;

    @include util.breakpoint-max(mobile-large) {
        width: 80%;
        height: 95%;
    }

    @include util.breakpoint(mobile-large-plus1, medium) {
        width: 60%;
        height: 95%;
    }

    @include util.breakpoint(medium-plus1, large) {
        width: 50%;
        height: 95%;
    }
}

.modal__content--header, .modal__content--footer {
    padding: 10px;
    height: 10%;
}

.modal__content--title {
    margin: 0;
}

.modal__content--body {
    padding: 10px;
    border-top: 1px solid base.$list;
    border-bottom: 1px solid base.$list;
    height: 80%;
}