$primary-red: #C30F16;
$primary-white: #FFFFFF;
$primary-black: #000000;

$button-disabled: #999595;
$modal-background: rgba(0, 0, 0, 0.5);
$modal-content: #fff;
$modal-body: #eee;
$modal: #333333;

$list: #f0ffff;

$navbar: #e8ceac;
$navbar-shadow: rgba(9, 9, 9, 0.23);

$box-shadow: rgba(9, 9, 9, 0.23);

$menu: #283b8b;
$menu-hover: #2642af;

$login-button: #4285f4;